%ul.curriculum_list
  .subject_heading= subject.name
  - student_resources = @student.resources.where(subject: subject).order(:title)
  - student_resources.each do |resource|
    - curriculum = Curriculum.where(student: @student, resource: resource).first 
    %li.curriculum_title= link_to resource.title, curriculum_path(curriculum)
