%ul.curriculum_list
  .subject_heading= subject.name
  - curriculums = @student.resources.where(subject: subject).order(:title)
  - curriculums.each do |curriculum|
    %li.curriculum_title= link_to curriculum.title, student_curriculum_path(@student, curriculum)
