%ul{ class: 'vertical menu'}
  %li.heading Planning
  %div{ class: "calendar link" }= link_to "Calendar", "#"
  %div{ class: "courses link" }= link_to "Subjects", "#"
  %div{ class: "books link" }= link_to "Curriculum", "#"
  %div{ class: "delete_student link" }= link_to "Delete Student", @student, method: :delete
