%ul{ class: 'vertical menu-bar'}
  %li.heading Planning
  %li.calendar= link_to "Calendar", "#"
  %li.courses= link_to "Subjects", "#"
  %li.books= link_to "Curriculum", "#"
  %li.delete_student= link_to "Delete Student", @student, method: :delete
