%ul{ class: 'side-nav'}
  %li.heading Planning
  %li.calendar= link_to "Calendar", "#"
  %li.courses= link_to "Subjects", "#"
  %li.books= link_to "Resources", "#"
  %li.delete_student= link_to "Delete Student", @student, method: :delete
