<% if @student.errors.any? -%>
  $(".flash").remove();
  $(".top-bar").after('<div class="flash">' + "<%= @student.errors.full_messages.join('. ')%>" + '</div>');
<% else -%>
  $(".flash").remove();
  $(".student_list").remove();
  $(".student_block").remove();
  $("li.heading.students").after("<div class='student_list'></div");
  $(".student_list").append("<%= j render 'student_list_left_nav' %>");
  $("div.row.small-up-3.medium-up-4.large-up-5").append("<%= j render @students %>");
  $("div.row.small-up-3.medium-up-4.large-up-5").append("<%= j render 'add_student_block' %>");
<% end %>
