%div{ class: "row main_container" }
  %div{ class: 'small-2 columns left_nav' }= render 'left_nav_show'
  %div{ class: 'small-10 columns show_container' }
    %h2= @student.name
    .edit_link= link_to "edit", '#'

    -# %div= render 'reviews/form'
    -#
    -# - if !@reviews.nil?
    -#   %ul
    -#     - @reviews.each do |review|
    -#       -if !review.title.empty?
    -#         %li= review.title
    -#         %li= review.body
    -#         %li= "written by: #{review.user.username}"
