.row#main_container
  #left_nav_show{ class: 'small-2 columns' }= render 'left_nav_show'
  #show_container{ class: 'small-10 columns' }
    %h2= @student.name
    .edit_link= link_to "edit", '#'

    -# %div= render 'reviews/form'
    -#
    -# - if !@reviews.nil?
    -#   %ul
    -#     - @reviews.each do |review|
    -#       -if !review.title.empty?
    -#         %li= review.title
    -#         %li= review.body
    -#         %li= "written by: #{review.user.username}"
