.row#main_container
  #left_nav_index{ class: 'small-2 columns' }= render 'students/left_nav_index'
  #new_resource_container{ class: 'small-10 columns' }
    %h1 Add New Resource
    .form-container= render 'form'
