%div{ class: "row main_container" }
  %div{ class: 'small-2 columns left_nav' }= render 'layouts/left_nav'
  %div{ class: 'small-10 columns new_resource_container' }
    %h1 Add New Resource
    .form-container= render 'form'
