@import 'color';

.hidden {
  display: none;
}

.inline {
  display: inline;
}

form {
  & input[id=resource_units], & input[id=resource_division_units] {
  width: 10%;
  display: inline;
  }
}

form {
  & select[id=resource_unit_type_id], & select[id=resource_division_type_id] {
  width: 20%;
  display: inline;
  }
}

form {
  & select[id=curriculum_resource_id] {
    width: 30%;
    font-size: 1.4rem;
    & option {
      font-size: 1rem;
    }
  }
}

.field_with_errors {
  display: inline;
}

.input_instructions {
  &, a {
    color: white;
    font-size: 1.3rem;
  }
}

.form-actions input {
  background-color: transparent;
  color: white;
  padding-top: 4px;
  padding-bottom: 1px;
}

.resource-form-title label, .resource-form-subject label {
  color: white;
  font-size: 1.5rem;
}
