@import 'color';

.left_nav_inner {
  background-color: $beige;
  padding-bottom: 18px;
  padding-top: 3px;
  margin-top: 40px;
  border-style: solid;
  border-color: $rock;
  border-width: 1px;

  a, & {
    color: $brick;
  }

  a:hover {
    color: lighten( $brick, 10% );
  }
  .heading {
    padding-top: .8rem;
    font-weight: bold;
  }

  a, .heading {
    font-size: 1.1rem;
  }

  hr {
    height: 1px;
    color: $rock;
    background-color: $rock;
    border: none;
    margin: 0px;
    margin-top: 10px;
  }
}

.left_nav_wrapper{

}
