$rock: #685C53;
$beige: #D4C99E;

#left_nav_index {
  background-color: $beige;
}

#left_nav_show {
  background-color: $beige;
}

.add_student {
  padding-bottom: .5rem;
  a {
    font-size: .8rem;
  }
}

.delete_student {
  padding-top: .5rem;
  a {
    font-size: .8rem;
  }
}
