@import 'color';

.resources_container, .curriculums_container, .new_schedule_container, .curriculum_show_container, .student_show_container, .subjects_index_container {

  a {
    color: $brick;
    &:hover {
      color: lighten( $brick, 10% );
      text-decoration: underline;
    }
  }

  li {
    list-style-type: none;
    & a {
      font-size: 1.1rem;
    }
  }

  .subject_heading {
    font-weight: bold;
    font-size: 1.3rem;
    color: $rock;
  }

  h1, h2, h3, h4 {
    color: $rock;
    font-weight: bold;
  }

  h1 {
    font-size: 2.1rem;
  }

  h2 {
    font-size: 1.8rem;
  }

  h3 {
    font-size: 1.6rem;
  }

  h4 {
    font-size: 1.3rem;
  }
}

.resources_container, .subjects_index_container {
  margin-top: 40px;
}
