@import 'color';

.student_index_container {
  margin-top: 100px;

  .student_block {
    margin-right: 10px;
    margin-bottom: 20px;
    height: 247px;

    background-image: image-url('post_it_rotated.png');
    background-size: 120%;
    background-position: center;
    background-repeat: no-repeat;

    .link_student a {
      color: $rock;
      font-weight: bold;
      font-size: 2rem;
      &:hover {
        text-decoration: underline;
      }
    }

    .link a {
      color: $brick;
      font-weight: normal;
      font-size: 1.8rem;
      &:hover {
        color: lighten( $brick, 10% );
      }
    }

  }

  .text {
    padding-left: 30px;
    padding-top: 70px;
  }

  .add_student {
    text-align: center;
    vertical-align: middle;
    line-height: 90px;
    padding-top: 35px;
  }

  .block_student_form {

    form {
      margin-top: 20px;
    }
    .name_input {
      margin-left: 5px;
      width: 170px;
      height: 65px;
      label {
        color: $rock;
        font-size: 1.5rem;
      }
      input {
      }
    }

    .actions input {
      background: transparent;
      font-size: 1.1rem;
      color: $rock;
      padding-top: 5px;
      padding-bottom: 0px;
    }
  }
}
