@import 'color';

.student_menu {
  width: 600px;
  height: 40px;
  // border-style: solid;
  // border-color: $rock;
  // border-width: 1px
  padding-top: 25px;
  margin-left: 300px;
  margin-bottom: 0px;
  li a {
    color: white;
    font-size: 2.2rem;
    &:hover {
      text-decoration: underline;
    }
  }
}
