.dropdown-pane.is-open {
  width: 200px;


}


.subjects_index_container {
  .title {
    font-size: 2.5rem;
  }

  .subject_list {
    color: white;
    font-size: 2rem;
  }

  .button {
    font-size: 1.3rem;
  }
}
