@import 'color';


.top-bar {

  padding: 0px;

  a {
    &:hover {
      color: lighten( $brick, 10% );
    }
  }

  .top-bar-left {
    margin-top: 6px;
  }


  .menu-text {
    margin-top: 1px;
    a {
      font-size: 1.2rem;
    }
  }

  .menu.vertical {
    background-color: $rock;
  }

  ul.right {
    margin: 0;
    height: 30px;
  }

  ul.dropdown.menu li {
    margin-bottom: 3px;
    height: 25px;
  }

  li {
    & a {
    padding: 0;
    }
  }

  a {
    padding: 0;
  }
}
