%div{ class: 'small-3 columns left_nav' }
  %ul{ class: 'vertical menu'}
    %li.heading.students Students
    .student_list= render 'students/student_list_left_nav'
    %li.heading Planning
    %div{ class: "resources link" }= link_to "Resources", resources_path
    %div{ class: "subjects link" }= link_to "Subjects", subjects_path
